language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-watson' ]; then cd .. && eval "mv $currentfolder generator-watson" && cd generator-watson; fi

